<div>
    <h2>Introduction</h2>
    <p><span>This Web Application was built to comply with the following requirement:</span></p>
    <hr>
    <h3><span>Public Transport Information System assignment</span></h3>
    <p><span></span></p>
    <p>
        <span>A fictitious Public Transport company operating in 1970 has its stations described using the </span>
        <span><a href="https://github.com/OpenTransport/linked-gtfs" target="_blank">Linked GTFS vocabulary</a></span>
        <span> and its schedules using the </span>
        <span><a href="https://github.com/linkedconnections/vocabulary" target="_blank">Linked Connections vocabulary</a></span>
        <span> in RDF. You can find this fictitious dataset created for this assignment here: </span>
        <span><a href="https://cl.ly/1L3R0d3r3F0R" target="_blank">https://cl.ly/1L3R0d3r3F0R</a></span>
        <span>.</span>
    </p>
    <h3><span>Tasks</span></h3>
    <ol start="1">
        <li>
            <span>Create a script to extract a list of stations and stops with all their properties from the </span>
            <span><a href="https://cl.ly/1L3R0d3r3F0R" target="_blank">Turtle file linked earlier</a></span>
            <span>. Document this script.</span>
        </li>
        <li>
            <span>Create a script that will give us the identifiers for the stop Hamler platform 0 and for the stop Trumann-Rohrersville platform 0.</span>
        </li>
        <li>
            <span>We have also published this dataset in the way advocated by Linked Connections (</span>
            <span><a href="http://linkedconnections.org" target="_blank">http://linkedconnections.org</a></span>
            <span>) at </span>
            <span>
                <a href="http://server02.openknowledge.be:8082/connections/?departureTime%3D1970-01-01T12:00" target="_blank">http://server02.openknowledge.
                    <wbr>be:8082/connections/?<wbr>departureTime=1970-01-01T12:00
                </a>
            </span>
            <span><wbr>. Use the </span>
            <span><a href="https://github.com/linkedconnections/client.js" target="_blank">Linked Connections Client</a></span>
            <span> to find a route from Hamler platform 0 to Trumann-Rohrersville platform 0. Did you find a result? Document step by step what you did.</span>
        </li>
        <li>
            <span>When reading the short paper on Linked Connections (</span>
            <span><a href="http://linkedconnections.org/lc_demo_paper.pdf" target="_blank">http://linkedconnections.org/<wbr>lc_demo_paper.pdf</a></span>
            <span>) and judging from the server-interface: what do you think would be an interesting feature to add on the server-side? Why? </span>
            <span>There is no right or wrong answer.</span>
        </li>
    </ol>
    <p><span></span></p>
    <p><span>To solve these questions you may use all tools you have at hand or you are acquainted with. Deliver the results of this work and answers to the questions to us in an appealing way.</span></p>
    <hr>
    <p><span>Please use the top menu options to navigate through the proposed solutions and their respective documentation.</span></p>
</div>