<div>
	<h3 style="display: inline">Task 4: </h3>
	<h4 style="display:inline">
		<span>When reading the short paper on Linked Connections (</span>
		<span><a href="http://linkedconnections.org/lc_demo_paper.pdf" target="_blank">http://linkedconnections.org/<wbr>lc_demo_paper.pdf</a></span>
		<span>) and judging from the server-interface: what do you think would be an interesting feature to add on the server-side? Why? </span>
		<span>There is no right or wrong answer.</span>
	</h4>
	<hr>
	<p>
		<span>
            After reading the short paper and following its references, I was able to understand the apporach of the LinkedConnections initiative and how using the      
        </span>
        <span style="font-style: italic">Connection Scan Algorithm</span>
        <span>
             (CAS) It is possible to find paths between stops in a very efficient way. Also, publishing data in the LinkedConnections manner facilitates transportation 
            providers to export their information in a standarized way while giving developers and consumers of this type of data enough freedom to adapt their 
            algorithms to their specific needs.
        </span>
	</p>
    <p>
        <span>
            This approach is based on the premise that nowadays the computational power of end-user devices is big enough to carry out complex tasks.
            Today we have laptops and smartphones with enough memory and processing capacity to implement and run a algorithm such as CAS. Having the clients 
            taking a big part of the processing responsability of applications will allow server-side end-points, which traditionaly have had a big processing power, 
            with a free capacity to dedicate to other tasks that might complement and add value to the services they offer.
        </span>
    </p>
    <p>
        <span>
            Seeing how an algorithm such as CAS is capable of merging different stream sources to come up with an output that fulfills the initial requirement, I can
            think on integrating on this route planning process, streams of data that are not directly related with transportation. For example, including weather 
            forecasting information on route planning. Taking advantage of the server-side processing power it could be possible to format this new datasets 
            into streams that can be used by the CAS algorithm to make the best decisions on route planning. It is known that weather information is complex and depends
            of several variables. Therefore analyzing this information and determining how it could be relevant to routes and trips planining could become challenging.
            This idea comes to my mind out of experience. Living in a big city where a simple rain could make the traffic caotic, it could be very useful to have a tool
            that considers this and recommend you to take an articulated-bus (which runs on its own lane) than using your car or taking a cab.  
        </span>
    </p>
    <p>
        <span>
            Surfing the Web one can see several services that manifest to include weather forecast on the route planning, however such services are built in the
            traditional way, making the user to depend entirely on how they build their features. Taking weather forecast information and making it available
            using the LinkedConnections approach could become a good contribution to the Linked Open Data community that could benefit not only route planning
            but also other contexts where the weather information is relevant.  
        </span>
    </p>
</div>