<nav class="navbar navbar-default" style="right: 45">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.iminds.be/en" target="_blank">
        <img style="position: relative; bottom: 8;" src="resources/img/logo_iminds.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Task 1<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/task1" routerLinkActive="active">Stations and Stops</a></li>
          <li><a routerLink="/t1-doc" routerLinkActive="active">Documentation</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Task 2<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/task2" routerLinkActive="active">Stops Details</a></li>
          <li><a routerLink="/t2-doc" routerLinkActive="active">Documentation</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Task 3<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/task3" routerLinkActive="active">Path Finder - Linked Connection Client</a></li>
          <li><a routerLink="/t3-doc" routerLinkActive="active">Documentation</a></li>
        </ul>
      </li>
      <li><a routerLink="/task4" routerLinkActive="active">Task 4</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          About<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="https://co.linkedin.com/in/julianrojas87" target="_blank">Who am I?</a></li>
          <li><a href="https://github.com/julianrojas87" target="_blank">A peek to my development experience</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>